@inherits OnlineShop.Components.Components.WPComponentBase
@using OnlineShop.Components.Components.Button.Enums
<NavLink href="shoppingCart" class="nav-item bg-success text-light nav-link  rounded">
    <i class="bi-cart"></i>
    <span>cart</span>
    <span class="badge bg-danger text-bg-primary">@shoppingCartItemCount.ToString()</span>
</NavLink>