@inherits OnlineShop.Components.Components.WPComponentBase
@using OnlineShop.Components.Components.Button.Enums
@* <WPButton ButtonStyle="ButtonStyle.outlinesuccess" OnClick="Navigate" Icon="cart" Text="@shoppingCartItemCount.ToString("Cart 0")"></WPButton> *@
<NavLink href="shoppingCart" class="nav-item bg-success text-light nav-link  rounded">
    <i class="bi-cart"></i>
    <span>cart</span>
    <span class="badge bg-danger text-bg-primary">@shoppingCartItemCount.ToString()</span>
</NavLink>