@using OnlineShop.Configurations
<div class="text-light ms-3">
    <AuthorizeView>
        <NotAuthorized>
             <b>
                <a @onclick="Login" role="button" class="nav-link">
                    <span class="ms-2">Login</span>
                </a>
                        </b>
        </NotAuthorized>
        <Authorized>
            <b>
                <a @onclick="Logout" class="nav-link" role="button">
                    <span class="bi-person-circle" aria-hidden="true"></span>
                    <span class="ms-2">@GetLoggedUser()</span>
                </a>
            </b>
        </Authorized>
    </AuthorizeView>
</div>