@page "/orders"
@inherits WPBaseComponent
@if (shouldRender)
{
    <Headers Title="@_orders.Count().ToString("0 Orders")"></Headers>
    @foreach (var order in _orders)
    {
        <div class="card mb-3">
            <h5 class="card-header">@order.CustomerName</h5>
            <div class="card-body">
                <div class="d-flex">
                    <p>Order date: @order.OrderDate.ToLongTimeString()</p>
                </div>
            </div>
        </div>
    }
} else if (!string.IsNullOrEmpty(ErrorMessage))
{
    <ErrorAlert Message="@ErrorMessage" />
}
else
{
    <SpinnerLoader />
}