@namespace OnlineShop.Components
<div class="spinner-center">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>
@code
{}
